In [1]:
source = open('C:\\Users\\tejas\\Desktop\\KLA Hackathon\\Milestone_Input\\Milestone_Input\\Milestone 5\\Source.txt', 'r')
content_src_4 = source.read()
# print(content_src_4)
source.close()

In [2]:
poi = open('C:\\Users\\tejas\\Desktop\\KLA Hackathon\\Milestone_Input\\Milestone_Input\\Milestone 5\\POI.txt', 'r')
content_poi_4 = poi.read()
print(content_poi_4)
poi.close()

header 600
bgnlib 1/18/2023 21:51:25 1/18/2023 21:51:25
libname egdslib
units 0.0001 1e-10

bgnstr 1/18/2023 21:51:25 1/18/2023 21:51:25
strname child

boundary
layer 1
datatype 0
xy  13  500 3900  500 6440  2670 6440  2670 5820  770 5820  770 5490  2680 5490  2680 4870  770 4870  770 4520  2670 4520  2670 3900  500 3900
endel
endstr
endlib

In [10]:
def shoelace_formula(coordinates):
    n = len(coordinates)
    area = 0.0
    for i in range(n):
        j = (i + 1) % n
        area += coordinates[i][0] * coordinates[j][1]
        area -= coordinates[j][0] * coordinates[i][1]
    area = abs(area) / 2.0
    return area

In [5]:
import re

# open the text file
with open("C:\\Users\\tejas\\Desktop\\KLA Hackathon\\Milestone_Input\\Milestone_Input\\Milestone 5\\POI.txt", "r") as f:
    text = f.read()

matches = re.findall(r'^.*xy  13.*$', text, re.MULTILINE)
target = []
for match in matches:
    target.append(match)
target

['xy  13  500 3900  500 6440  2670 6440  2670 5820  770 5820  770 5490  2680 5490  2680 4870  770 4870  770 4520  2670 4520  2670 3900  500 3900']

In [7]:
t1 = []
for i in target:
    i = i.replace("xy  13  ","")
    t1.append(i)
t1

['500 3900  500 6440  2670 6440  2670 5820  770 5820  770 5490  2680 5490  2680 4870  770 4870  770 4520  2670 4520  2670 3900  500 3900']

In [8]:
t2 = []
# string  = l1[0]
for i in t1:
    t4 = []
    matches = re.findall(r'(-?\d+) (-?\d+)', i)

    for match in matches:
        m = []
        for i in match:
            i = int(i)
            m.append(i)
        t4.append(m)
    t2.append(t4)
t2

[[[500, 3900],
  [500, 6440],
  [2670, 6440],
  [2670, 5820],
  [770, 5820],
  [770, 5490],
  [2680, 5490],
  [2680, 4870],
  [770, 4870],
  [770, 4520],
  [2670, 4520],
  [2670, 3900],
  [500, 3900]]]

In [11]:
at = []
for i in t2:
    area = shoelace_formula(i)
    at.append(area)
at

[4226000.0]

In [17]:
# pat = "xy  7"
import re

# open the text file
with open("C:\\Users\\tejas\\Desktop\\KLA Hackathon\\Milestone_Input\\Milestone_Input\\Milestone 5\\Source.txt", "r") as f:
    text = f.read()

matches = re.findall(r'^.*xy  13.*$', text, re.MULTILINE)
l = []
for match in matches:
    l.append(match)
# l

In [19]:
l1 = []
for i in l:
    i = i.replace("xy  13  ","")
    l1.append(i)

In [20]:
l2 = []
# string  = l1[0]
for i in l1:
    l4 = []
    matches = re.findall(r'(-?\d+) (-?\d+)', i)

    for match in matches:
        m = []
        for i in match:
            i = int(i)
            m.append(i)
        l4.append(m)
    l2.append(l4)
len(l2)

5448

In [21]:
al = []
for i in l2:
    area = shoelace_formula(i)
    al.append(area)
ind.app
# for i in al:
#     if i != at[0]:
#         ind = al.index(i)
# # print(ind)

NameError: name 'ind' is not defined

In [23]:
r2 = 'xy'

In [24]:
r3 = 'xy  7'

In [26]:
with open("C:\\Users\\tejas\\Desktop\\KLA Hackathon\\Milestone_Input\\Milestone_Input\\Milestone 5\\Source.txt", "r") as f:
    lines = f.readlines()
print(len(lines))

9027250

In [ ]:
select = [s for s in lines if s.startswith(r2)]
for s in select:
    if (s.startswith(r3)) == False:
        ind2 =  lines.index(s)
#         print(ind2)
#         print(lines[ind2])
#         print(lines[ind2 + 1])
#         print(lines[ind2 - 1])
#         print(lines[ind2 - 2])
#         print(lines[ind2 - 3])
        del lines[ind2 - 3 : ind2 + 2]

In [ ]:
len(lines)

In [ ]:
# open the new file and write the remaining lines
with open("output5.txt", "w") as f1:
    f1.writelines(lines)